/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Common*/

body {
    font-family: Arial, sans-serif;
    background-color: rgb(217, 222, 229);
    height: 100vh;
}

.container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}

/*Header*/
.header {
    height: 80px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;

}

.logo {
    padding: 12px;
    font-size: 40px;
    font-weight: 700;
}

.logo img {
    vertical-align: middle;
}

.logo span {
    vertical-align: middle;
}

/*Buttons*/

.buttons {
    text-align: left;
    padding: 12px;
    border-bottom: 2px solid rgb(217, 222, 229);

}

.buttons button {
    font-size: 16px;
    padding: 8px;
    border-radius: 6px;

}

.add-tasks-button {
    font-size: 16px;
    margin-left: 42px;
    background-color: rgb(74, 182, 233);
    color: rgb(255, 255, 255);
    border: none;
}

.add-section-button {
    margin-left: 12px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 222, 229);
    color: rgb(217, 222, 229);
}

/*Lista*/

.list {
    text-align: left;
    padding: 24px 62px;
}

.list li {
    list-style: none;
}

.main-list {
    color: rgb(94, 94, 94);
    margin-bottom: 12px;
}

.main-list ul {
    font-size: 18px;
    font-weight: 500;
    margin-top: 4px;
}

ul li {
    padding: 6px;
}

.main-list strong {
    font-size: 22px;
}

.task {
    padding: 12px;
}

/*Labels */

.labels {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 12px;
}

.blue-bg {
    background-color: #42adff;
}

.purple-bg {
    background-color: rgb(146, 83, 206);
}

.green-bg {
    background-color: rgb(91, 170, 91);
}

.orange-bg {
    background-color: rgb(244, 154, 76);
}

.pink-bg {
    background-color: rgb(248, 106, 170);
}

.grassgreen-bg {
    background-color: rgb(195, 234, 87);
}

/*Checked*/

.checked {
    display: inline-block;
    height: 18px;
    width: 18px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    margin-right: 8px;

}

.cross {
    color: rgb(207, 72, 72);
}

.check {
    color: rgb(72, 207, 72);
}